<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles%}
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">

    <title>광운대학교 풍물 굿패 연합</title>
    <meta name="description" content="'광풍연'은 '광운대학교 풍물 굿패 연합'의 약자이고,

                        굴렁쇠, 난장, 사통백이 산지니, 산소래, 어진바람, 자올소리 등

                        총 7개의 패로 이루어져 있습니다.


                        매년 여름, 겨울 전수를 진행하고, 새내기판굿, 가을 판굿 및 

                        다양한 행사를 진행하고 있습니다.">


    <meta property="og:image" content="https://www.facebook.com/photo.php?fbid=1125437644194041&set=gm.1039807706101522&type=3&theater" />                       



    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>

      <style type="text/css">


       body{
        font-family: 'Jeju Gothic',Sans-serif;
        font-style: normal;
        font-weight: 700;  
    }

    body h1{
        font-family: 'Jeju Gothic',Sans-serif;
        font-style: normal;
        font-weight: 700;  
    }
    body h2{
        font-family: 'Jeju Gothic',Sans-serif; 
        font-style: normal;
        font-weight: 700; 
    }     
    span{
        font-family: 'Jeju Gothic',Sans-serif; 
        font-style: normal;
        font-weight: 700; 
    }     

    body{
        font-family: 'Jeju Gothic',Sans-serif;  
        font-style: normal;
        font-weight: 700;
    }

    body p{
        font-family: 'Jeju Gothic',Sans-serif;
        font-style: normal;
        font-weight: 700;  
    }
    body a{
        font-family: 'Jeju Gothic',Sans-serif; 
        font-style: normal;
        font-weight: 700; 
    } 
</style>

</head>
<body>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.6&appId=959672924115373";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>



    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">KwPungMool</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#tf-home" class="page-scroll">Home</a></li>
        <li><a href="#tf-about" class="page-scroll">About</a></li>
        <li><a href="#tf-services" class="page-scroll">Event</a></li>
        <li><a href="#tf-team" class="page-scroll">Week Schedule</a></li>
        <li><a href="#tf-works" class="page-scroll">Introducing</a></li>
    </ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>


{% block content %}
{% endblock content %}



<nav id="footer">
    <div class="container">
        <div  class="pull-left fnav">
            <p>ALL RIGHTS RESERVED. COPYRIGHT © 2016. Designed by<span style="color: orange;"> THKwon</span></p>
        </div>
        <div class="pull-right fnav">
            <ul class="footer-social">
                <li><a href="https://www.facebook.com/groups/104536536295315/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="http://cafe.daum.net/guangpung"><i class="fa fa-coffee"></i></a></li>
                <li><a href="http://www.kw.ac.kr"><i class="fa fa-home"></i></a></li>
                <li><a href="http://info.kw.ac.kr"><i class="fa fa-info"></i></a></li>
            </ul>
        </div>
    </div>
</nav>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

<script src="{% static "js/owl.carousel.js" %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>

</body>
</html>