{% extends "home/base.html" %}

{% block content %}

{% load staticfiles%}
    <!-- Home Page
    ==========================================-->
    <div id="tf-home" class="text-center">
        <div class="overlay">
            <div style="padding-top: 200px;">


                <p style="font-size: 60px; font-weight: bold"> <strong><br> 광운대학교 풍물 굿패 연합</strong></p>


                    <div style="padding-top: 20px;" class="col-md-2 col-md-offset-5">
                    <a href="{% url "notice:post_list" %}" class="page-scroll">
                      <button style="min-width: 100%" type="button" class="btn btn-danger"><span style="font-size: 20px;">메인 페이지</span></button></a>
                    </div>

                    <div style="padding-top: 20px;" class="col-md-2 col-md-offset-5">
                    <a href="#tf-about" class="page-scroll">
                      <button style="min-width: 100%" type="button" class="btn btn-warning"><span style="font-size: 20px;" >소개 보기</span></button></a>
                    </div>

                    <div style="padding-top: 20px;" class="col-md-2 col-md-offset-5">
                        <div class="fb-like" data-href="http://kwpoongyun.azurewebsites.net" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
                    </div>                    

                  
                 
               
            </div>
        </div>
    </div>


    <!-- About Us Page
    ==========================================-->
    <div id="tf-about">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static "img/logo.jpg" %}" class="img-responsive">

                    <div style="padding-top: 20px;" class="col-md-10 ">
                    <a href="{% url "home:user_new" %}">
                      <button style="min-width: 100%" type="button" class="btn btn-danger"><span style="font-size: 20px;" >회원가입</span></button>
                      </a>
                    </div>

                    
                    <div style="padding-top: 20px;" class="col-md-10 ">
                    <a href="/home/rule">
                      <button style="min-width: 100%" type="button" class="btn btn-warning"><span style="font-size: 20px;">회칙보기</span></button></a>
                    </div>

                    <div style="padding-top: 20px;" class="col-md-10 ">
                    <a href="/home/tree">
                      <button style="min-width: 100%" type="button" class="btn btn-warning"><span style="font-size: 20px;">의장,부의장,상치배 계보</span></button></a>
                    </div>

                 


                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>광풍연 소개</h4>
                            <h2>Some words <strong>about 광풍연</strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p style="font-size: 20px;" class="intro">'광풍연'은 '광운대학교 풍물 굿패 연합'의 약자이고,

                        굴렁쇠, 난장, 사통백이 산지니, 산소래, 어진바람, 자올소리 등

                        총 7개의 패로 이루어져 있습니다.


                        매년 여름, 겨울 전수를 진행하고, 새내기판굿, 가을 판굿 및 

                        다양한 행사를 진행하고 있습니다.</p>
                        <ul class="about-list">
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Knowledgeable</strong> - <em>Someone who is knowledgeable has or shows a clear understanding of many different facts about the world or about a particular subject.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Passionate</strong> - <em>A passionate person has very strong feelings about something or a strong belief in something.</em>
                            </li>
                            <li>
                                <span class="fa fa-dot-circle-o"></span>
                                <strong>Young</strong> - <em> A young person, animal, or plant has not lived or existed for very long and is not yet mature.</em>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

 

    <!-- Services Section
    ==========================================-->
    <div style="background-color: #E9E9E9;" id="tf-services" class="text-center">
        <div class="container">
            <div class="section-title center">
                <h2>광풍연 <strong>주요 행사 소개</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <small><em>
                광풍연은 1년 단위로 집행부 주도하에, 사업 및 행사를 진행 합니다.

                크게, 판굿, 전수, 소고춤, 각 패 창립제 및 각종 행사로 나뉩니다.</em></small>
            </div>
            <div class="space"></div>
            <div class="row">
                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-fire"></i>
                    <h4><strong>판굿</strong></h4>
                    <p>새내기 판굿을 시작으로, 대동제 판굿, 전수 판굿, 가을 판굿을 진행 합니다.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-thumbs-o-up"></i>
                    <h4><strong>전수</strong></h4>
                    <p>여름방학엔 자체 전수, 겨울방학엔 필봉 전수를 진행 합니다.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-music"></i>
                    <h4><strong>소고춤</strong></h4>
                    <p>새내기 가입 이후, 첫 행사로써, 소고춤을 진행합니다.</p>
                </div>

                <div class="col-md-3 col-sm-6 service">
                    <i class="fa fa-certificate"></i>
                    <h4><strong>각패 창립제 및 각종 행사</strong></h4>
                    <p>각 패 마다 창립제 행사를 진행합니다.
이 외에도 상치배 뽑기, 봉사활동, 자체공연, 행사 등 다양한 사업을 진행합니다.</p>
                </div>
            </div>
        </div>

    </div>

    <!-- Team Page
    ==========================================-->
    <div id="tf-team" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2>광풍연 <strong>연습 일정</strong></h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>

                <div id="team" class="owl-carousel owl-theme row">
                    <div class="item">
                        <div class="thumbnail">
                            <img src="{% static "img/client/kw.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>월요일</h3>
                                <p style="font-size: 15px;">풍연 공식 연습날</p>
                                <p style="font-size: 15px;">집부회의</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img style="float: left;" src="{% static "img/client/3.png" %}" alt="..." class="img-circle team-img">
                            <img style="float; left;" src="{% static "img/client/7.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>화요일</h3>
                                <p style="font-size: 15px;">산지니 연습날</p>
                                <p style="font-size: 15px;">난장 연습날</p>
                                
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="thumbnail">
                            <img style="float: left;" src="{% static "img/client/1.png" %}" alt="..." class="img-circle team-img">
                            <img style="float; left;" src="{% static "img/client/2.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>수요일</h3>
                                <p style="font-size: 15px;">사통백이  연습날</p>
                                <p style="font-size: 15px;">산소래 연습날</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{% static "img/client/6.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>목요일</h3>
                                <p style="font-size: 15px;">어진바람 연습날</p>
                            </div>
                        </div>
                    </div>


                    <div class="item">
                        <div class="thumbnail">
                            <img style="float: left;" src="{% static "img/client/5.png" %}" alt="..." class="img-circle team-img">
                            <img style="float; left;" src="{% static "img/client/4.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>금요일</h3>
                                <p style="font-size: 15px;">자올소리  연습날</p>
                                <p style="font-size: 15px;">굴렁쇠 연습날</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{% static "img/client/kw.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>토요일</h3>
                                <p style="font-size: 15px;">휴일</p>
                                
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="thumbnail">
                            <img src="{% static "img/client/lp.png" %}" alt="..." class="img-circle team-img">
                            <div class="caption">
                                <h3>일요일</h3>
                                <p style="font-size: 15px;">리버풍 정기 모임<br>매주 오후 6시</p>
                                
                            </div>
                        </div>
                    </div>


                </div>
                
            </div>
        </div>
 


    </div>




  

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>2016년  <strong>광풍연 집행부</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <strong><em>2016년 광풍연 집행부를 소개 합니다.</em></strong>
            </div>
            <div class="space"></div>

            <div class="categories">
                
                <ul  class="cat">
                    <li  class="pull-left"><p style="font-size: 20px;font-weight: bold;">분류 :</p></li>
                    <li class="pull-right">
                        <ol style="font-size: 20px;font-weight: bold;" class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".uijang">의장</a></li>
                            <li><a href="#" data-filter=".boouijang">부의장</a></li>
                            <li><a href="#" data-filter=".sangchibae" >상치배</a></li>
                            <li><a href="#" data-filter=".jipboo" >집행부</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">


                <div class="col-sm-6 col-md-3 col-lg-3  uijang jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100001834480422&fref=ts">
                                <div class="hover-text">
                                    <h2>의장</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">김신복</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/12313828_1002569796480827_5530869514302179245_n.jpg?oh=5fbaf957b597f06cc8e74807f3dca2d4&oe=57ADB0A9" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3  boouijang jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100004639205069&fref=ts">
                                <div class="hover-text">
                                    <h2>부의장</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">홍정희 </p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/t31.0-1/c0.0.960.960/p960x960/12916315_603608036470498_8784283317590511863_o.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h2>총무</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">예건해</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/11998982_859854994110974_2094013803777287928_n.jpg?oh=718340c915b6921ef3acb61934035a09&oe=57E808A9" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 sangchibae">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100003606393179&fref=ts">
                                <div class="hover-text">
                                    <h2>상쇠 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">조유진</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/11037321_603508039779404_3812818698065009809_n.jpg?oh=e46460409d8a1f7e08af418f1dfe4bd0&oe=57D9DE9D" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 sangchibae">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100006428379042&fref=ts">
                                <div class="hover-text">
                                    <h2>부쇠</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">한예림</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12729384_1970962363128024_2410557882041050682_n.jpg?oh=54e5ccc9ec1d7ef071b942e1ab19f9d5&oe=57D9659F" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 sangchibae">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100006314467616&fref=ts">
                                <div class="hover-text">
                                    <h2>상장구</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">박용욱</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/1507785_1646216515598815_2799709011286319780_n.jpg?oh=ba8a90881f01fec0a9745579a574e09f&oe=57AD0D43" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>                

                <div class="col-sm-6 col-md-3 col-lg-3 sangchibae">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100004835948756&fref=ts">
                                <div class="hover-text">
                                    <h2>수소고</h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">정다현</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="{% static "img/client/dahyun.jpg" %}" alt="..." class="img-responsive">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100003558714228&fref=ts">
                                <div class="hover-text">
                                    <h2>자올소리 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">고강산</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12814720_807069569421659_8366397360004432951_n.jpg?oh=e5b625b03e1a5739be37919403b2fc09&oe=57AAC79D" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 jipboo ">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100005075610541&fref=ts">
                                <div class="hover-text">
                                    <h2>산소래 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">김형인</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/10983308_382562538589597_2445243305186296226_n.jpg?oh=98417f95f3169b97f47717d4ecfe4e0c&oe=57DF5F02" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100003569134606&fref=ts">
                                <div class="hover-text">
                                    <h2>굴렁쇠 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">서형렬</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xtp1/t31.0-1/c282.0.960.960/p960x960/10506738_10150004552801856_220367501106153455_o.jpg" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 jipboo ">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100010642217017&fref=ts">
                                <div class="hover-text">
                                    <h2>어진바람 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">윤수빈</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12316415_138735989824474_1429185430812721639_n.jpg?oh=08074723945ed969f15986d851ac3e23&oe=57E59AC7" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100005325930750&fref=ts">
                                <div class="hover-text">
                                    <h2>산지니 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">하태화</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-1/c0.120.720.720/12289664_486930251494502_6070647247094918936_n.jpg?oh=8a4963647252c197fd509e5cd67a2137&oe=57DE8E28" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/sehwa.hong.75?fref=ts">
                                <div class="hover-text">
                                    <h2>사통백이 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">홍세화</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12715655_982260321854766_5213937750607328132_n.jpg?oh=5d50e6e519963b986d34f2ad9952c6c9&oe=579CCEBB" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-md-3 col-lg-3 jipboo">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="https://www.facebook.com/profile.php?id=100004899933194&fref=ts">
                                <div class="hover-text">
                                    <h2>난장 패짱 </h2><br>
                                    <p style="font-size: 30px;font-weight: bold;">황덕하</p>
                                    <div class="clearfix"></div>
                                    
                                </div>
                                <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/12049650_571627523010574_7595132350838149275_n.jpg?oh=d07d4de53f7c9f8df87b7b42d55c2cac&oe=57B0EC66" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>                                







            </div>
        </div>

    </div>


{% endblock content %}
