<!DOCTYPE html>
<html lang="en">
  <head>
  {% load staticfiles%}
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spirit8 - Digital Agency One Page Template</title>
    <meta name="description" content="Spirit8 is a Digital agency one page template built based on bootstrap framework. This template is design by Robert Berki and coded by Jenn Pereira. It is simple, mobile responsive, perfect for portfolio and agency websites. Get this for free exclusively at ThemeForces.com">
    <meta name="keywords" content="bootstrap theme, portfolio template, digital agency, onepage, mobile responsive, spirit8, free website, free theme, themeforces themes, themeforces wordpress themes, themeforces bootstrap theme">
    <meta name="author" content="ThemeForces.com">

  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
    <!-- Favicons
    ================================================== -->

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/apple-touch-icon-114x114.png" %}">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "fonts/font-awesome/css/font-awesome.css" %}">



    <!-- Slider
    ================================================== -->
    <link href="{% static "css/owl.carousel.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/owl.theme.css" %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static "css/style.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/responsive.css" %}">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>

      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="{% static "js/modernizr.custom.js" %}"></script>



    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>


<<div align="center"  class="container">
  <h2>Panel Group</h2>
  <p>The panel-group class clears the bottom-margin. Try to remove the class and see what happens.</p>
  <div align="left" style="max-width: 90%;" class="panel-group">
    <div class="panel panel-success">
      <div class="panel-heading">2장 회  원</div>
      <div class="panel-body">4조 회원 자격 : 광운대 풍연에 가입된 풍물굿패 회원으로 인정된 사람에 한한다..<br>
5조 회원 가입 : 패단위로 가입함을 원칙으로 한다.<br>
6조 가입 방법 : 1학기 정기총회 전까지 가입신청서를 제출한다.   <br>
7조 회원 의무 :  회칙을 준수하고 회비 납부의 의무를 가진다.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;총회, 확대운위 및 운위의 결정 사항을 따를 의무를 지닌다.<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                 풍연의 동산과 부동산을 관리, 유지할 의무를 지닌다.<br>
8조 회원 권리 : 광풍연의 모든 회원은 선거권 및 피선거권을 가진다.<br>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                풍연의 모든 활동에 대해 알 권리와 의견을 개진할 권리, 참여할 권리를 가진다. 풍연의 동산과 부동산을 공유하며 사용할 권리를 가진다.<br></div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">3장 총   회</div>
      <div class="panel-body">9조 지위 및 구성 : 총회는 광풍연의 최고의결기구로서 모든 회원으로 구성된다.<br>
10조 의 장 : 총회의 의장은 광풍연 당해연도 의장이 겸임한다. 단 회장 불참시 단대 주체 중 1명이 대행한다.<br>
11조 재적인원 : 당회시 보고된 인원으로 한다.<br>
12조 권 한 : 총회는 다음과 같은 권한을 가진다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   ① 풍연 회칙의 개정안의 발의 및 심의권을 가진다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ② 풍연 전체에 관련된 중요한 사항을 토의 결정한다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ③ 풍연 집행부의 인준권을 가진다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ④ 풍연 의장의 탄핵은 2/3 이상 가입 패, 재적 인원 1/2 이상의 동의에 의해 발의할 수 있으며 2주일 이내에 직접,비밀, 평등, 보통 선 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;거로서 가입패의 2/3 이상, 재적인원의 2/3 이상의 투표에 , 출석 인원 1/2이상의 찬성으로 확정할 수 있다.<br>
13조 소 집 : 총회는 정기 총회와 임시 총회의 형태로 한다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ① 정기 총회 - 1년 3회로 한다. 시기는 1학기 개강 후, 2학기 개강 후, 2학기 종강 전후에 한다.<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    ② 임시 총회 - 패 2/3 이상, 회원 1/2 이상의 요구가 있을 때, 확대 운위의 요구가 있을 때, 의장의 요구가 있을 때 15일 이내에 소집한다.<br>
14조 개회 및 의결 : 총회는 패 2/3이상, 재적 인원의 1/2 이상의 참석으로 개회하고. 출석패의 2/3 이상과 출석인원 1/2 이상의 찬성으로 의결한다.<br></div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>


    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>



     <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>
    


    <div class="panel panel-success">
      <div class="panel-heading">4장 확대 운영 위원회</div>
      <div class="panel-body">15조 지위 밎 구성 : 총회 다음의 의결기구로서, 운영위원회원, 각과패장들로 구성 된다.<br>
16조  의       장 :  확운위 의장은 광풍연 의장이 겸임한다. 의장 유고시에는 단대 주체나 집행부 대표자 중 1인이 대행한다.<br>
17조  권        한 : 정기총회 이외의 기간이나 임시총회 무산시 총회의 권한을 가질 수 있다.<br>
18조  개회 및 의결 : 확대 운영 위원회의 구성 인원의 2/3이상의 출석으로 개회하고 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
19조  소        집 : 격주로 정기적 요일에 소집 또는 필요시 소집한다.<br></div>
    </div>


<ul class="nav nav-tabs nav-justified">
<li>dd</li>
<li>dd</li>

</ul>




  </div>
</div>


 
<h3></h3>


<h3>5장 운영 위원회</h3>
20조 구  성 : 운영위원회(이하 운위)는 광풍연 의장, 집행부원으로 구성된다.<br>
21조 의  장 : 운위 의장은 광풍연 의장이 겸임하다.<br>
22조 업무 및 권한 : 광풍연 전체에 관련한 중요한 사항을 토의하여 총회에 상정 할 수 있다. 총회와 확운위에서 의결된 사항 원활히 집행되도록 노력한다.<br>
23조 개회 및 의결 :2/3이상 출석으로 개회하고, 출석 인원의 2/3이상의 찬성으로 의결한다.<br>
24조 소  집 : 매주 정기적 요일에 소집한다.<br>
        

<h3>6장 단대 운영위원회</h3>
25조 지위 및 구성 : 단대운영위원회(이하 단운위)는 단대 최고 의결기구로서 단대주체와 과패장으로 구성된다.<br>
26조 의  장 : 단운위의 의장은 단대주체가 겸임한다.<br>
27조 업무 및 권한 : 풍연에 관련한 모든 행사 및 사업을 진행하는데 있어 각 단대별, 과별 차이를 조정하고, 각 단위 과패의 이해와 요구를 논의하여 운위의 동의 하에 집행할 수 있다.<br>
28조 소  집 : 광풍연 운영상 필요시 소집한다.<br>

<h3>7장 의  장</h3>
29조 지  위 : 의장은 광풍연을 대표하며 총회 의장, 확운위 의장, 운위의 의장이 된다.<br>
30조 업무 및 권한 : 의장은 다음과 같은 업무 및 권한을 갖는다.<br>
①임시총회의 소집을 요구할 수 있다.<br>
②회칙 개정안을 운위의 심의를 거쳐 총회와 확운위에 상정할 수 있다.<br>
③광풍연 활동에 관한 중대한 사항에 대해서는 해당 부서에 의견을 제시할 수 있다.<br>
④집행부의 임면권을 갖는다.<br>
⑤의장은 광풍연 회원들의 이해와 요구에 근거하여 광풍연의 발전을 위하여 헌신한다.<br>
31조 임  기 : 2학기 종강총회부터 익년 2학기 종강총회까지로 한다.<br>


<h3>8장 단대주체</h3>
32조 지  위 : 단대주체는 광풍연의 각 단대의 풍물패를 대표하는 사람으로서 단운위의 의장이 되며 또한 각 단대간의 차이가 심한 상황에서 풍연차원의 요구들과 패의 요구를 조율하는 역할을 한다. 또한 확운위 운위의 운영위원이 된다.<br>
33조 업무 및 권한<br>
①단운위 소집권을 갖는다.<br>
②각 단대 과풍물패원들의 이해와 요구를 단운위를 통하여 총화하고 운위와 확운위 를 통해 풍연 사업에 적극적으로 반영한다.<br>
③선출 : 가입한지 1년 이상인 자이거나 이에 준하는 자로서 단운위에서  단운위에서 2/3 출석에 출석 인원의 2/3이상 찬성으로 선출한다.<br>

<h3>9장 집행부 </h3>
34조 지위 및 구성<br>
집행부는 광풍연의 최고 집행기구로서 단대주체와 국장 및 부․차장을 부원으로 구성한다.<br>
35조 업무 및 권한<br>
①총회, 확운위 및 집행부 회의에서 결정된 사업을 진행한다.<br>
②풍연 사업의 원활한 집행을 위하여 정기적인 집행부 회의를 한다.<br>
③광풍연 일체의 사업 계획과 예산안 및 결산 보고서를 총회, 확운위, 운위에 제출한다.<br>
④확운위, 운위에 출석을 발언할 수 있다.<br>
⑤집행부는 제반활동의 집행을 위해 국과 부를 둘 수 있다.<br>

<h3>10장 재정</h3>
풍연의 재정은 회비와 지원금, 수익 사업으로 한다.<br>
36조 회  비 : 1,2학기 정기총회시 제출된 재적인원에 따라 당해의 상황을 고려하여 운영위의 논의를 거쳐 확운위가 결정한다. 단, 확운위 무산시 운영위의 결정에 따른다.<br>
37조 회계연도<br>
  풍연의 회계연도는 2학기 종강 총회에서 익년 2학기 종강 총회까지 1년으로 하며 상반기와 하반기에 각각 1회의 예산과 결산을 행한다.<br>
38조 예  산 : 예산은 사무국이 편성하여 총회 및 확운위에서 심의 확정되면 집행한다.<br>
39조 가예산 집행 : 예산이 확정되지 못한 경운 각 행사에 따른 예산을 별도로 집행부에
서 지출한 이후 확운위에 보고한다.<br>
 
<h3>11장 선거</h3>
    광풍연의 회원은 모두 선거권을 가진다.<br>
40조 피선거권<br>
     의장<br>
     ①광풍연에 가입한지 2년 이상인 자, 또는 이에 준하는 자<br>
     ②패장 4인 이상, 또는 회원 20인 이상의 추천을 받은 자<br>
41조 선거 방법<br>
     선거는 평등, 보통, 직접, 비밀선거로 한다.<br>
42조 선거 시기<br>
     선거는 매년 2학기 종강 총회에 실시한다. 단 부득이한 사유가 있을 때 단대주체중 1인이 권한 대행으로 한다.<br>
43조 당   선  : 가입 패 2/3 이상, 재적인원 1/2 이상이 투표에 참여하여, 투표인원 1/2 이상 찬성시 당선된다. 경선시 선거시행세칙에 따른다.<br>
44조 당선자의 임기 :  당선자의 임기는 7장에 있는 의장 임기와 같다.<br>
45조 보궐선거<br>
     의장 유고 및 궐위시 총회, 확운위로부터 의장의 탄핵 결정이 있을 때에 확운위에서 임시 선출하고 가장 빠른 총회에서 정식으로 선출한다.<br>
46조 선거 관리 위원회<br>
     선거에 관한 제반 업무를 담당하기 위하여 선거 관리 위원회를 둔다. 선관위는 학운위가 추천하는 단대당 1인으로 하며 위원장은 풍연 의장이 한다. 단 부득이한 사유가 있을 때 선거 관리 위원장은 확대운영위원회원 중 1인이 한다.<br>
47조 선거 시행 세칙<br>
     모든 선거는 선거 시행 세칙에 따르며 선거시행세칙은 선거관리 위원회에서 제정한다.<br>
 
<h3>12장 회칙의 개정</h3>
48조 발의 : 회칙 개정 발의는 총회, 의장, 확운위에 의해 제안한다.<br>
49조 공고 : 발의된 회칙은 7일 내에 의장이 공고한다.<br>
50조 의결 : 발의된 회칙 개정안은 공고 후 15일 이내에 총회 또는 확운위에서 의결하여야  한다.<br>
51조 공포 : 의결된 회칙 개정안은 의결 직후 공포한다.<br>

<h3>부칙</h3>
시행 : 본 회칙은 공포된 날로부터 효력을 가진다.<br>
관례 : 본 회칙에서 기재되지 아니한 사항은 관례에 따른다.<br>
회원 제적 : 2장에 명시된 회원 의무를 이행하지 않거나 풍연의 운영상에 위해를 가하는 자 또는 패는 운위의 논의를 거쳐 확운위에서 제적할 수 있다.<br>

  </div>
  </div>
  
</div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.1.11.1.js" %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" src="{% static "js/SmoothScroll.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.isotope.js" %}"></script>

    <script src="{% static "js/owl.carousel.js" %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static "js/main.js" %}"></script>


</body>
</html>