{% extends "notice/base.html" %}

{% block content %}

{% load staticfiles %}

<!-- Start header part -->
    <header id="header1" class="intro-header" style="background-image: url('../../static/img/freeboard.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1 style="font-weight: bold;">날 적 이</h1>
                        <hr class="small">
                        <span>'하고싶은말 자유롭게 하세요'</span>
                    </div>

                    <div align="center">
                         <a style="font-size: 50px;color: white" class="page-scroll " href="#first">
                            <i class="glyphicon glyphicon-download"></i>
                        </a>
                    </div>  

                </div>
            </div>
        </div>
    </header>
<!-- End header part -->





<section id ="first" style="background-color:#E9E9E9 ;" >



    <div align="center">
        <div  class="pagination">
            <span style="font-size: 40px;font-weight: bold;" class="step-links">

                {% if object_list.has_previous %}
                <a class="myButton"  href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">    <p style="font-size: 20px;font-weight: bold;">이전 페이지</p>
                </a>
                {% endif %}

                <span style="padding-left: 50px;" class="current">
                    Page <span style="font-size: 40px;color:red">{{ object_list.number }}</span> of 
                    <span style="font-size: 50px;padding-right: 50px;"  >{{ object_list.paginator.num_pages }}</span>


                    {% if object_list.has_next %}
                    <a class="myButton"  href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">
                        <p style="font-size: 20px;font-weight: bold;">다음 페이지</p>
                    </a>
                    {% endif %}
                </span>
            </span>
        </div>
    </div>



    <div id="main" style="padding: 20px" id="post" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 ">

                <a style="min-width: 100%;" class="myButton" href="{% url 'freeboard:post_new' %}" />
                <p style="font-size: 35px;font-weight: bold;text-align: center;">글 남기기</p>
            </a>

            </div>

            <div style="padding-top: 30px;" class ="col-lg-8 col-lg-offset-6 ">
                <form method='GET' action=''>

                    <input type='text' name='q' placeholder='Search posts' value='{{request.GET.q}}'/>
                    <input type='submit' value='Search'/>            
            </div>


        </div>
    </div>


    <div class="col-lg-10 col-lg-offset-5"  style="padding:20px;">

    </div>

    {% for post in object_list %}
    <div id="main" style="max-width:100%;width: 800px;padding: 20px" id="post" class="container">        
        <div class="row">
            <div  div  class="col-lg-10 col-lg-offset-1 col-md-10 ">
                <div class="post-preview">
                 <div id=first style="background-color:white;border:1px solid; border-color:#E9E9E9;border-top:5px solid;border-top-color: #4682b4;padding:30px;
                 border-bottom-left-radius: 40px;border-top-left-radius: 30px;" >
                 <div id="header" align="right">

                    {% if user == post.user %}

                    <span style="float:left;" >
                      <span style="font-size: 30px;font-weight: bold;">{{post.user}}</span> | 조회수 : {{post.hit}}
                  </span>                       


                  <a href="{% url "freeboard:post_edit" post.pk%}">
                      <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-edit"></span> Edit
                    </button>
                </a>

                <a href="{% url "freeboard:post_delete" post.pk%}">
                  <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove-sign"></span> Remove
                </button>
            </a>  



            {% else %}

            <div style="padding-bottom: 20px;" align="left">
               <span style="font-size: 20px;font-weight: bold;">{{post.user}}</span> | 조회수 : {{post.hit}}
           </div>                       


           {% endif %}

       </div>



       <a  href="{% url "freeboard:post_detail" post.pk%}">

        <h2 style="color: #1C86EE" class="post-title">
            {{ post.title }} 
        </h2>
    </a>

    <h5 class="post-title">
        {{ post.created_date | date:"Y/m/d/D/P"}} | {{ post.created_date|timesince }} ago
    </h5>

    <h4 class="post-subtitle">
        {{post.message|truncatewords:10|linebreaks }}
    </h4>


    <div align="right" id="footer">
         <a href="#">
                <i style="color: red;font-size: 25px;" class="fa fa-heart" aria-hidden="true"></i>
        </a>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{% url "freeboard:post_detail" post.pk%}">
                <i style="font-size: 30px;" class="fa fa-comment" aria-hidden="true"></i>
        </a>
        <span style="font-size: 20px;font-weight: bold">{{ post.comments.count }}</span>                                                        
    </div>                            


</div>


</div>
</div>
</div>
</div>

{% endfor %}

    <div id="main" style="padding: 20px" id="post" class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 ">

                <a style="min-width: 100%;" class="myButton" href="{% url 'freeboard:post_new' %}" />
                <p style="font-size: 35px;font-weight: bold;text-align: center;">글 남기기</p>
            </a>

            </div>
        </div>
    </div>

<div align="center">
    <div  class="pagination">
        <span style="font-size: 40px;font-weight: bold;" class="step-links">

            {% if object_list.has_previous %}
            <a class="myButton"  href="?page={{ object_list.previous_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">    <p style="font-size: 20px;font-weight: bold;">이전 페이지</p>
            </a>
            {% endif %}

            <span style="padding-left: 50px;" class="current">
                Page <span style="font-size: 40px;color:red">{{ object_list.number }}</span> of 
                <span style="font-size: 50px;padding-right: 50px;"  >{{ object_list.paginator.num_pages }}</span>


                {% if object_list.has_next %}
                <a class="myButton"  href="?page={{ object_list.next_page_number }}{% if request.GET.q %}&q={{request.GET.q}}{% endif %}">
                    <p style="font-size: 20px;font-weight: bold;">다음 페이지</p>
                </a>
                {% endif %}
            </span>
        </span>
    </div>
</div>





<div style="padding-top: 30px" align="center">
   <a style="font-size: 100px;color: gray" class="page-scroll " href="#first">
    <i class="glyphicon glyphicon-upload"></i>
</a>
</div>

</section>



<!-- jQuery -->
<script src="{% static "js/jquery.js" %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static "js/bootstrap.min.js" %}"></script>

<!-- Custom Theme JavaScript -->
<script src="{% static "js/clean-blog.min.js" %}"></script>





{% endblock content%}
