{% extends 'notice/base.html' %}

{% block content %}



{% load staticfiles %}

        <header class="intro-header" style="background-image: url('{% static "img/about-bg.jpg" %}')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>회원가입</h1>
                        <hr class="small">
 
                     <p style="font-size: 20px;font-weight: bold;">'회원가입 시에, Username은 다음과 같은 형식으로 작성해 주세요</p>
                     <p style="padding-bottom: 20px;">예시 : 의장_12김신복</p>

                     자올패짱_15고강산<br><br>
                     상장구_14박용욱<br><br>
                     사통_10권태형<br><br>

                     패명이 4자이상 이면 2자로 줄여서, 나머지는 FULL로 다써도 됩니다.<br>
                     (ex)어진바람 -> 어바, 산지니 -> 산지니<br>



                     <p style="font-size: 20px;font-weight: bold;">
                     패스워드는 8자리 이상 문자와 숫자를 섞어서,<br>
                     이메일도 제대로 된 형식을 갖춰서 작성해주세요!</p>




                    </div>
                </div>
            </div>
        </div>
    </header>









<div align="center">
    <div align="left" style="width:500px">
        <div>
            <p style="font-size: 40px;"></p>
            <form style="padding-bottom: 20px;" method="POST" class="post-form ">
            {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <a>
                <button style="margin-left: 200px;" type="submit" class="save btn btn-primary">제출</button>
            </a>
            </form>
        </div>
    </div>
</div>
    
{% endblock %}